services:
  app_proxy:
    expose:
      - "5171"
    ports:
      - "5171:5171"
    environment:
      # Frontend - serve the main UI
      APP_HOST: eltor-cln_web_1
      APP_PORT: 5171
      PROXY_AUTH_ADD: "true"
    networks:
      - default
  web:
    image: eltor/eltor@sha256:cc92a110fce3fddc72ff9ddce080554320ec7ab15c7ad7447ac9bd4a3739ed6b
    init: true
    stop_grace_period: 1m
    ports:
      - "0.0.0.0:18068:18068" # Tor SOCKS proxy - explicitly bind to all interfaces
      - "0.0.0.0:18067:18067" # Tor Relay SOCKS proxy - explicitly bind to all interfaces
      - "0.0.0.0:9997:9997"   # Tor relay OR port
      - '0.0.0.0:18049:18049' # Tor SOCKS router i.e use this to point your socks5 config to in your browser
    volumes:
      # TODO move to /home/user/.eltor
      - ${APP_DATA_DIR}/data/eltor:/home/user/code/eltor-app/backend/bin/data
      - ${APP_DATA_DIR}/data/phoenix:/home/user/.phoenix
      - ${APP_CORE_LIGHTNING_DATA_DIR:-/tmp/empty}:/home/user/.lightning:ro
      - ${APP_DATA_DIR}/exports.sh:/home/user/exports.sh
    user: "1000:1000"
    env_file:
      - ${APP_CORE_LIGHTNING_DATA_DIR}/.commando-env
    environment:
      # Server binding configuration
      - BIND_ADDRESS=0.0.0.0
      - BACKEND_PORT=${BACKEND_PORT:-5171}
      - BACKEND_URL=${BACKEND_URL:-http://localhost:5171}

      # Core Lightning env vars
      - APP_CORE_LIGHTNING_DAEMON_IP=${APP_CORE_LIGHTNING_DAEMON_IP}
      - CORE_LIGHTNING_REST_PORT=${CORE_LIGHTNING_REST_PORT}
      - ACCEPT_INVALID_CERTS=true

      # App env vars
      - APP_ELTOR_USER_DIR=${APP_ELTOR_USER_DIR}
      - APP_ELTOR_ELTORRC_PATH=${APP_ELTOR_ELTORRC_PATH}

      # LN env vars (from .env file)
      - APP_ELTOR_USE_PHOENIXD_EMBEDDED=${APP_ELTOR_USE_PHOENIXD_EMBEDDED}
      - APP_ELTOR_LN_IMPLEMENTATION=${APP_ELTOR_LN_IMPLEMENTATION}
      - APP_ELTOR_LN_BOLT12=${APP_ELTOR_LN_BOLT12}
      - APP_ELTOR_LN_CONFIG=type=cln url=https://core-lightning_lightningd_1:$CORE_LIGHTNING_REST_PORT rune={{LIGHTNING_RUNE}} default=true

      # Client Eltor Environment Variables
      - APP_ELTOR_TOR_ADDITIONAL_DIR_AUTHORITY=${APP_ELTOR_TOR_ADDITIONAL_DIR_AUTHORITY}
      - APP_ELTOR_TOR_NICKNAME=${APP_ELTOR_TOR_NICKNAME}
      - APP_ELTOR_TOR_DATA_DIRECTORY=${APP_ELTOR_TOR_DATA_DIRECTORY}
      - APP_ELTOR_TOR_SOCKS_PORT=${APP_ELTOR_TOR_SOCKS_PORT}
      - APP_ELTOR_TOR_CONTROL_PORT=${APP_ELTOR_TOR_CONTROL_PORT}
      - APP_ELTOR_TOR_HASHED_CONTROL_PASSWORD=${APP_ELTOR_TOR_HASHED_CONTROL_PASSWORD}
      - APP_ELTOR_TOR_CLIENT_ADDRESS=${APP_ELTOR_TOR_CLIENT_ADDRESS}
      - APP_ELTOR_TOR_PAYMENT_CIRCUIT_MAX_FEE=${APP_ELTOR_TOR_PAYMENT_CIRCUIT_MAX_FEE}

      # Relay Eltor Environment Variables
      - APP_ELTOR_TOR_RELAY_ADDITIONAL_DIR_AUTHORITY=${APP_ELTOR_TOR_RELAY_ADDITIONAL_DIR_AUTHORITY}
      - APP_ELTOR_TOR_RELAY_DATA_DIRECTORY=${APP_ELTOR_TOR_RELAY_DATA_DIRECTORY}
      - APP_ELTOR_TOR_RELAY_CONTACT=${APP_ELTOR_TOR_RELAY_CONTACT}
      - APP_ELTOR_TOR_RELAY_NICKNAME=${APP_ELTOR_TOR_RELAY_NICKNAME}
      - APP_ELTOR_TOR_RELAY_OR_PORT=${APP_ELTOR_TOR_RELAY_OR_PORT}
      - APP_ELTOR_TOR_RELAY_CONTROL_PORT=${APP_ELTOR_TOR_RELAY_CONTROL_PORT}
      - APP_ELTOR_TOR_RELAY_SOCKS_PORT=${APP_ELTOR_TOR_RELAY_SOCKS_PORT}
      - APP_ELTOR_TOR_RELAY_HASHED_CONTROL_PASSWORD=${APP_ELTOR_TOR_RELAY_HASHED_CONTROL_PASSWORD}
      - APP_ELTOR_TOR_RELAY_SANDBOX=${APP_ELTOR_TOR_RELAY_SANDBOX}
      - APP_ELTOR_TOR_EXIT_RELAY=${APP_ELTOR_TOR_EXIT_RELAY}
      - APP_ELTOR_TOR_RELAY_PAYMENT_RATE_MSATS=${APP_ELTOR_TOR_RELAY_PAYMENT_RATE_MSATS}
      - APP_ELTOR_TOR_RELAY_PAYMENT_INTERVAL=${APP_ELTOR_TOR_RELAY_PAYMENT_INTERVAL}
      - APP_ELTOR_TOR_RELAY_PAYMENT_INTERVAL_ROUNDS=${APP_ELTOR_TOR_RELAY_PAYMENT_INTERVAL_ROUNDS}
      - APP_ELTOR_TOR_RELAY_PAYMENT_CIRCUIT_MAX_FEE=${APP_ELTOR_TOR_RELAY_PAYMENT_CIRCUIT_MAX_FEE}

    restart: unless-stopped
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://eltor-cln_web_1:${BACKEND_PORT:-5171}/health"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
    networks:
      - default

  # runs after the main service to update the torrc file with the LIGHTNING_RUNE
  # Replace the placeholder {{LIGHTNING_RUNE}} with the actual value from the environment variable
  post_install:
    image: nginx:alpine
    depends_on:
      web:
        condition: service_healthy
    env_file:
      - ${APP_CORE_LIGHTNING_DATA_DIR}/.commando-env
    volumes:
      - ${APP_ELTOR_DATA_DIR}:/tmp/.eltor
      - ${APP_CORE_LIGHTNING_DATA_DIR:-/tmp/empty}:/tmp/.lightning:ro
    command: >
      sh -c "
        echo 'torrc-updater ready for commands...' && 
        cd /tmp/.eltor/data/eltor &&
        cat torrc | sed 's/{{/$/g; s/}}//g' | envsubst > temp.txt && mv temp.txt torrc &&
        cat torrc.relay | sed 's/{{/$/g; s/}}//g' | envsubst > temp.txt && mv temp.txt torrc.relay
      "

networks:
  default:
    name: umbrel_main_network
    external: true
    